.viw-crd{
    text-decoration: underline;
}
.viw-crd:hover{
    color: #000000;
}
.categories-product a.load-more{
    text-transform: uppercase;
}
.cat-list>li.active>p{
    font-weight: 700;
    color: #000000;
}
.cat-list>li a{
    color: #000000;
}

.cat-list>li i{
    color: #000000;
    cursor: pointer;
}
.cat-list .acc_container>.card a.active {
    font-weight: 700;
    color: #000000;
}

.full-wait {
    background: url("../images/rolling.gif") no-repeat center center;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    min-height: 100px;
    display: none;
}

.full-wait.wait-reg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.full-wait.wait-reg {
    position: fixed;
}
.wait-reg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999999;
    height: 100%;
}

.woocommerce .sort-by select {
    border: 0;
    outline: 0;
    font-family: "Lato", sans-serif;
    color: #666666;
    font-size: 14px;
}
.woocommerce .sort-by select {
    vertical-align: top;
}
.send-message-btn{
    width: 100%;
}
.error-span {
    display: none;
    color: #990000 !important;
}
.validation-error .error-span {
    display: inline-block;
}
.validation-success .form-control {
    border: 1px solid #128712;
}
.validation-error .form-control {
    border: 1px solid #990000;
}
.yloader {
    border: 6px solid #CCCCCC;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    display: none;
}

.yloader-open .yloader {
    display: block;
    border-width: 3px;
    width: 20px;
    height: 20px;
}
.form-group .yloader {
    right: 25px;
    left: auto;
    margin: 0;
    top: 43px;
}
.dz-image-preview .dz-remove {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    color: #ffffff;
}
.dz-image-preview .dz-remove:after {
    padding: 0;
    background: rgba(0,0,0,0.4);
    text-indent: 0;
    float: right;
    text-align: center;
    width: 20px;
    color: #ffffff;
    content: "\f00d";
    display: inline-block;
    height: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 20px;
}
.dropzone-previews {
    position: relative;
}
.dz-clickable {
    position: relative;
}
.dz-clickable:after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
}
.success_msg { font-size: 1.2em; text-align: left; color: #004d40; }
.success_msg.err { color: #990000; }
.wait, .full-wait {
    background: url(../images/rolling.gif) no-repeat center center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    min-height: 100px;
    display: none;
}
.wait-reg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999999;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.sub-review ul li a i.fa-star {
    color: #128712;
}
.sub-review ul li.active a i.fa-star-o:before {
    color: #128712;
    content: "\f005";
}
.woocommerce-cart-form .woocommerce-cart-form__cart-item.cart_item img{
    border: 1px solid #128712;
}
.checkout-section .woocommerce-info{
    border-top: none;
    padding: 0;
    background-color:inherit;
}
.checkout-section .woocommerce-info::before{
    content: '';
}
.checkout-section .woocommerce-info .showlogin{
    color: #128712;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c2c2c2;
    height: 42px;
    outline: none;
}
.select2-container--default .select2-selection--single:focus{
    outline: none;
}
#billing_country_field .woocommerce-input-wrapper ,#billing_state_field .woocommerce-input-wrapper{
    float: right;
    width: 70%;
    height: 50px;
}
.select2-container--open .select2-dropdown--below{
    border-top: 1px solid #c2c2c2;
}
.woocommerce form .form-row .optional{
    display: none ;
}
.delivery-address .woocommerce-billing-fields .woocommerce-account-fields.waf_cus {
    padding: 0px 36px 26px 44px;
}
.woocommerce-account-fields.waf_cus #createaccount{
    width: auto;
    float: left;
}
.woocommerce-account-fields.waf_cus .woocommerce-form__label span{
    float: right;
    line-height: 0.5;
}
.checkout-section .woocommerce-form-login .lost_password a{
    color: #128712;
}
.woocommerce table.shop_table_cus,.woocommerce table.shop_table_cus th{
    border: none;
}

.woocommerce table.shop_table_cus th {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #636363;
    line-height: 1.5;
    text-align: left;
    padding: 0px 0px 0px 100px;
    margin-bottom: 30px;
    font-weight: normal;
}
.woocommerce table.shop_table_cus tbody th {
    font-weight: normal;
    border: none;
}
.woocommerce table.shop_table_cus .order-total th {
    font-weight: 600;
    color: #000000;
}
.woocommerce table .shop_table_cus{
    width: 33%;
    float: right;
}
.woocommerce table.shop_table_cus tbody td {
    float: right;
    padding-right: 0px !important;
    padding-top: 15px !important;
}
.load-more {
    margin: 16px auto;
}
#billing_postcode_field{
    position: relative;
}
.woocommerce-checkout p.form-row span.red-color {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: auto;
}
span.red-color {
    color: #990000;
}
.woocommerce-view-order table.shop_table tbody > tr > td {
    padding: 15px 30px !important;
}
.search-target #wait2 {
    display: block;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    background-size: 68%;
    min-height: 37px;
    position: absolute;
    width: 40px;
}
.search-target.active #wait2 {
    opacity: 1;
    visibility: visible;
}
.not-available .modal-wrapper {
    height: 210px;
}
#serviceFrm{
    z-index: 99999999999;
}
.service-modal {
    position: inherit;
}
.product-review .review-block a.no-more {
    background-color: transparent;
    color: #128712;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: auto;
    border: 1px solid #128712;
    display: block;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 5px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    margin: 0 auto;
}
.edit-wrap .box img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.edit-wrap .box h5 {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.woocommerce .related-product ul.products li.product a img {
    width: auto;
    margin: 0 auto;
}


